#circleToFill {
  width: 4rem;
  height: 4rem;
  margin-left: 0;
  border: 2px solid #000;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
}
